@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 100%;
}

.heroContainer {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem 0;
}

nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}

li {
  color: #fff;
  font-family: montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

li:hover {
  color: black;
  font-weight: bold;
}

.btn button {
  color: #fff;
  font-family: montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50px;
  background: #1bc768;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space between;
  width: 90%;
  margin: auto;
  align-items: center;
}

.textSide {
  width: 50%;
}

.imageside {
  width: 50%;
}
.imageside img{
  width: 100%;
}

.text1 h2 {
  color: #fff;
  font-family: montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text1 p {
  color: #fff;
  font-family: montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 75%;
  padding: 2rem 0;
}

.text2 button{
color: white;
font-family: montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 50px;
border: 1px solid #FFF;
background: none;
padding: .5rem 2.2rem;
}

.text2 button:hover{
  color:blue;
  background: white;
  cursor: pointer;
}

.text3{
  display: flex;
}

.input input{
  padding: .5rem .8rem;
  border: 1px solid white;
  border-radius: 50px 0 0 50px;
  width: 345px;
}

.inputBtn button{
  padding: 0.5rem .8rem;
  border: none;
  background: #1BC768;
  color: #FFF;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0 50px 50px 0;
}

.text2{
  margin-bottom: 2rem;
}

.text3{
  align-items: center;
}

.affiliations{
  margin: 4rem 0;
}


.affiliations h2{
  text-align: center;
  color: #043CAA;
  font-family: montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.affiliationLogos{
  display: flex;
  width: 55%;
  margin: auto;
  align-items: center;
  gap: 5rem;
}

.lines{
  display: flex;
  width: 5%;
  margin: auto;
  margin-bottom: 4rem;
}

.line1{
  border:4px solid #043CAA;
  width: 45px;
  height: 5px;
  border-radius: 50px 0 0 50px;
}

.line2{
  border:4px solid #1BC768;
  width: 45px;
  height: 5px;
  border-radius: 0 50px 50px 0;
}

.head h2{
color: #043CAA;
text-align: center;
font-family: montserrat;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.bulletText{
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0.4rem 0;
} 

.drug p{
color: #333;
font-family: montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.benefitText h4{
color: #043CAA;
font-family: montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 2rem 0;
}

.benefitText2 h4{
color: #043CAA;
font-family: montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 1rem 0;
}

.benefitFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits{
  width: 90%;
  margin: auto;
}

.benefitBtn button{
color: #1BC768;
font-family: montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 50px;
border: 1px solid #1BC768;
padding: .5rem 2rem;
cursor: pointer;
background: none;
margin-top: 5%;
}

.doorstepFlex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.benefitText{
  width: 50%;
}

.benefitImage{
  width: 50%;
}

.benefitImage img{
  width: 100%;
}
.benefitText2{
  width: 50%;
}

.benefitImage2{
  width: 50%;
}

.benefitImage2 img{
  width: 80%;
}

.profileFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clienttext{
  width: 40%;
  margin-right: 1rem;
}

.clientimage{
  width: 50%;
}

.allLines{
  display: flex;
  width: 65%;
  margin: auto;
  margin-bottom: 2rem;
}

.blueline {
  border:4px solid #043CAA;
  width: 35px;
  height: 3px;
  border-radius: 50px 0 0 50px;
}

.greenline {
  border:4px solid #1BC768;
  width: 35px;
  height: 3px;
  border-radius: 0 50px 50px 0;
}

.clienttext h2 {
color: #000;
font-family: montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.clienttext p {
color: #7A7A7A;
font-family: montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%;
}

.clienttext h5{
  color: #043CAA;
font-family: montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%;
}

.dotimage{
  line-height: 3rem;
  margin: auto;
}

.clientsay h5{
  line-height: 3rem;
}

footer{
  background: #043CAA;
}

.footcontainer{
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signtext{
  width: 31%;
}

.signtext h3{
color: #FFF;
font-family: montserrat;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-bottom: 1rem;
}

.signtext p{
color: #FFF;
font-family: montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.signinput label{
  color: #FFF;
font-family: montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 2rem;
padding-bottom: 2rem;
}

.input input{
  padding: 0.5rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 50px 0 0 50px;
  width: 345px;
}

.Part2{
  display: flex;
  align-items: center;
  gap: 7rem;
  margin: 3rem 0;
}

.Footerlist{
display: flex;
align-items: center;
gap: 4rem;
width: 80%;
}

.express{
  width: 20%;
}

.flist p{
color: #FFF;
font-family: montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 1rem;
}

.flist h3{
color: #FFF;
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-bottom: 1rem;
}

.express h3{
color: #FFF;
font-family: montserrat;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-bottom: 1rem;
}

.express p{
color: #FFF;
font-family: montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 1rem;
width: 70%;
}

.copyright p{
color: #FFF;
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 1rem;
text-align: center;
}

@media screen and (max-width: 1024px){
  .text1 h2 {
    font-size: 40px;
  }
  
  .text1 p {
    font-size: 15px;
    width: 100%;
  }
    .affiliationLogos{
      width: 50%;
    }

    .express p{  
      width: 100%;
      }
  
}
@media screen and (max-width: 900px){
  nav {
    display: none;
  }
  .btn button {
    display: none;
  }

  .text2 button{
    font-size: 14px;
    padding: 0.5rem 1.5rem;
  }
  
  .text1 h2{
    font-size: 35px;
  }
  .text1 p{
    font-size: 14px;
    width: 100%;

  }
  .input input{
    padding: .5rem .8rem;
    width: 235px;
  }

  .inputBtn button{
    font-size: 14px;
  }

  .affiliationLogos{
    gap: 3.5rem;
  }

  .clienttext h2 {
    font-size: 30px;
    }

    .allLines{
      width: 35%;
      
    }

    .express p{  
      width: 100%;
      font-size: 13px;
      }
}

@media screen and (max-width: 768px){
  .affiliationLogos{
   gap: 3.5rem;
  }
  .affiliationLogos img{
   width: 80%;
  }

  .express p{  
    width: 100%;
    font-size: 11px;
    }
}
@media screen and (max-width: 701px){
  .text1 h2{
    font-size: 30px;
  }
  .text1 p{
    font-size: 14px;
    width: 100%;

  }
  .input input{
    padding: .5rem .8rem;
    width: 200px;
    border: none;
  }

  .inputBtn button{
    font-size: 14px;
    padding: .5rem;
  }

  .text2 button{
    font-size: 12px;
    padding: 0.3rem 1rem;
  }
}
@media screen and (max-width: 580px){
  .hero {
    display: block;
    width: 90%;
  }
  
  .textSide {
    width: 100%;
  }
  
  .imageside {
    width: 100%;
  }

  .text1 h2 {
    font-size: 40px;   
  }
  
  .text1 p {
    font-size: 18px;
    width: 100%;
  }
  
  .text2 button{
  font-size: 18px;
  padding: .5rem 2.2rem ;
  }

  .input input{
    padding: .8rem;
    width: 345px;
  }
  
  .inputBtn button{
    padding: .8rem;
    font-size: 16px;
  }

  .affiliationLogos{
    display: block;
    width: 85%;
    margin: auto;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.affiliationLogos img{
  width: 30%;
}

.emzor{
  margin: 3rem ;
}

.lines{
  width: 15%;
}

.line1{
  width: 45px;
}

.line2{
  width: 45px;
}

.benefitFlex{
  display: block;
}

.benefitText{
  width: 80%;
  margin: auto;
}

.benefitText2{
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
}

.benefitImage{
  width: 100%;
}
.benefitImage2{
  width: 100%;
  margin-top: 1rem;

}

.doorstepFlex{
display: block;
margin-bottom: 4rem;
}

.profileFlex{
display: block;
}

.client{
  flex-direction: column-reverse;
}
.clienttext{
  width: 60%;
  /* margin-right: 0; */
  margin: auto;
}

.clientimage{
  width: 100%;
}

.clienttext p {
width: 100%;
  }

  .signup{
    display: block;
  }
  
  .signtext{
    width: 100%;
  }
  
  .signtext h3{
  padding-bottom: 1rem;
  }
  
  .signtext p{
    padding-bottom: 1rem;
  }

  .Part2{
    display: block;   
    margin: 5rem 0;
  }
  
  .Footerlist{
  display: block;
  width: 100%;
  }
  
  .express{
    width: 100%;
    margin: 1rem 1rem;
  }

  .flist{
    padding-bottom: 2rem;
  }
  
  .flist p{
  font-size: 16px;
  }
  
  .flist h3{
  font-size: 18px;
  }
  
  .express h3{
  color: #FFF;
  font-family: montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-bottom: 1rem;
  }
  
  .express p{
  color: #FFF;
  font-family: montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1rem;
  width: 100%;
  }
  
  .copyright p{
  color: #FFF;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1rem;
  text-align: center;
  }


}

@media screen and (max-width: 481px) {
  .input input{
    padding: .8rem;
    width: 300px;
  }

  .text2 button{
    font-size: 18px;
    padding: .5rem 1.8rem ;
    }

    .clienttext h2 {
      font-size: 25px;  
      }

      .clienttext p {
        font-size: 16px;
}
}

@media screen and (max-width: 425px){
  .input input{
    padding: .8rem;
    width: 200px;
  }
  
  .clienttext p {
    font-size: 14px;
}
}

@media screen and (max-width: 397px){
  
  .clienttext p {
    font-size: 12px;
}

.text2 button{
  font-size: 18px;
  padding: .5rem 1.2rem ;
  }
}
@media screen and (max-width: 375px){
  
  .clienttext p {
    font-size: 12px;
}

.text2 button{
  font-size: 18px;
  padding: .5rem 1.2rem ;
  }

  .benefitText{
    width: 100%;
    margin-left: 1rem;
  }
  
  .benefitText2{
    width: 100%;
    margin-left: 1rem;
  }

  .benefitText2 h4{
    width: 100%;
    font-size: 20px;
  }
  .benefitText h4{
    width: 100%;
    font-size: 18px;
  }
  .benefitText2 p{
    width: 100%;
    font-size: 16px;
  }
  .benefitText p{
    width: 100%;
    font-size: 16px;
  }

  .clienttext h2 {
    font-size: 20px;
    }
}
@media screen and (max-width: 408px){
  
  .clienttext p {
    font-size: 10px;
    width: 100%;
}

.text2 button{
  font-size: 18px;
  padding: .5rem .8rem ;
  }

  .benefitText{
    width: 100%;
    margin-left: 1rem;
  }
  
  .benefitText2{
    width: 100%;
    margin-left: 1rem;
  }

  .benefitText2 h4{
    width: 100%;
    font-size: 20px;
  }
  .benefitText h4{
    width: 100%;
    font-size: 18px;
  }
  .benefitText2 p{
    width: 100%;
    font-size: 16px;
  }
  .benefitText p{
    width: 100%;
    font-size: 16px;
  }

  .clienttext h2 {
    font-size: 20px;
    }

    .express p{
      font-size: 16px;
      width: 100%;
      }

      .text1 h2 {
        font-size: 30px;
        
      }
}
@media screen and (max-width: 414px){
  
  .clienttext p {
    font-size: 10px;
    width: 100%;
}

.text2 button{
  font-size: 18px;
  padding: .5rem 1.4rem ;
  }

  .benefitText{
    width: 100%;
    margin-left: 1rem;
  }
  
  .benefitText2{
    width: 100%;
    margin-left: 1rem;
  }

  .benefitText2 h4{
    width: 100%;
    font-size: 20px;
  }
  .benefitText h4{
    width: 100%;
    font-size: 18px;
  }
  .benefitText2 p{
    width: 100%;
    font-size: 16px;
  }
  .benefitText p{
    width: 100%;
    font-size: 16px;
  }

  .clienttext h2 {
    font-size: 20px;
    }

    .express p{
      font-size: 16px;
      width: 100%;
      }

      .text1 h2 {
        font-size: 30px;
        
      }
}
@media screen and (max-width: 416px){
  
  .clienttext p {
    font-size: 10px;
    width: 100%;
}

.text2 button{
  font-size: 18px;
  padding: .5rem 1.4rem ;
  }

  .benefitText{
    width: 100%;
    margin-left: 1rem;
  }
  
  .benefitText2{
    width: 100%;
    margin-left: 1rem;
  }

  .benefitText2 h4{
    width: 100%;
    font-size: 20px;
  }
  .benefitText h4{
    width: 100%;
    font-size: 18px;
  }
  .benefitText2 p{
    width: 100%;
    font-size: 16px;
  }
  .benefitText p{
    width: 100%;
    font-size: 16px;
  }

  .clienttext h2 {
    font-size: 20px;
    }

    .express p{
      font-size: 16px;
      width: 100%;
      }

      .text1 h2 {
        font-size: 30px;
        
      }
}